@font-face {
  font-family: "iconfont"; /* Project id 4766410 */
  src: url('iconfont.woff2?t=1741420217049') format('woff2'),
       url('iconfont.woff?t=1741420217049') format('woff'),
       url('iconfont.ttf?t=1741420217049') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuijian:before {
  content: "\e63d";
}

.icon-jianpan:before {
  content: "\eac2";
}

.icon-yueliang:before {
  content: "\e70f";
}

.icon-xiaoxi:before {
  content: "\e781";
}

.icon-yinle:before {
  content: "\e607";
}

.icon-suofang:before {
  content: "\e608";
}

.icon-xiangxia:before {
  content: "\e606";
}

.icon-zuobian:before {
  content: "\e799";
}

.icon-youbian:before {
  content: "\e79a";
}

.icon-biaoqian:before {
  content: "\e62b";
}

.icon-rili:before {
  content: "\e640";
}

.icon-icon_zhiding:before {
  content: "\e658";
}

.icon-xieyou:before {
  content: "\e7b5";
}

.icon-xiangyou2:before {
  content: "\e776";
}

.icon-xiangyou:before {
  content: "\e603";
}

.icon-tushu:before {
  content: "\e604";
}

.icon-feiji:before {
  content: "\e90a";
}

.icon-kapianrehuo:before {
  content: "\e629";
}

.icon-shaixuanyoubian:before {
  content: "\e9cd";
}

.icon-a-30:before {
  content: "\e63c";
}

.icon-danmu:before {
  content: "\e613";
}

.icon-wangshang:before {
  content: "\e61c";
}

.icon-shezhi:before {
  content: "\e60f";
}

.icon-fangda:before {
  content: "\e72f";
}

.icon-fanti:before {
  content: "\e601";
}

.icon-shense:before {
  content: "\e602";
}

.icon-WIFI:before {
  content: "\e76c";
}

.icon-weibo:before {
  content: "\e618";
}

.icon-youjian:before {
  content: "\e619";
}

.icon-facebook:before {
  content: "\e641";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-banquan:before {
  content: "\e620";
}

.icon-github:before {
  content: "\e673";
}

.icon-bilibili:before {
  content: "\e605";
}

.icon-wendang:before {
  content: "\e617";
}

.icon-fenlei:before {
  content: "\e703";
}

.icon-24gf-tags3:before {
  content: "\e886";
}

.icon-sousuo1:before {
  content: "\e612";
}

.icon-shouye:before {
  content: "\e600";
}

.icon-caidan:before {
  content: "\e60a";
}

