:root {
    --admin_line_bg_color: #F0EEEE;
    --admin_main_bg_color: #F0EEEE;
    --admin_span_color: #4e5969;

    --admin_active_bg_color: #165dff;
    --admin_active_font_color: #ffffff;

    --admin_content_bg_color: #ffffff;
    --admin_link_color: rgba(22, 93, 255, 0.8);
    --admin_link_hover_color: rgba(22, 93, 255, 100);


}

.dark {

}